<% include ../partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">Edit <%= draft.title %> (draft)</div>
  <form class="ui form" method="POST">
    <div class="field">
      <label>Category</label>
      <input 
        type="radio" 
        name="blog[category]" 
        value="Faith" 
        <% if (blog.category === "Faith") { %>
          checked
        <% } %>
      > Faith
      <input 
        type="radio" 
        name="blog[category]" 
        value="Fashion"
        <% if (blog.category === "Fashion") { %>
          checked
        <% } %>
      > Fashion
      <input 
        type="radio" 
        name="blog[category]" 
        value="Fitness"
        <% if (blog.category === "Fitness") { %>
          checked
        <% } %>
      > Fitness
      <input 
        type="radio" 
        name="blog[category]" 
        value="Other"
        <% if (blog.category === "Other") { %>
          checked
        <% } %>
      > Other
    </div>
    <div class="field">
      <label>Title</label>
      <input type="text" name="blog[title]" value="<%= draft.title %>">
    </div>
    <div class="field">
      <label>Image URL</label>
      <input type="text" name="blog[image]" value="<%= draft.image %>">
    </div>
    <div class="field">
      <label>Blog Content</label>
      <textarea name="blog[body]" id="editor3"><%= draft.body %></textarea>
      <script type="text/javascript">
        CKEDITOR.replace("editor3");
      </script>
    </div>
    <input 
      class="ui violet big basic button" 
      type="submit"
      value="Post to Blogs"
      onClick="this.form.action='/blogs'"
    >
    <input 
      class="ui blue big basic button" 
      type="submit" 
      value="Save as a Draft" 
      onClick="this.form.action='/drafts/<%= draft._id %>?_method=PUT'"
    >
  </form>
</div>

<% include ../partials/footer %>
